/* Container que agrupa a caixa de busca e o botão de filtro */
.search-filter-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre a barra de busca e o botão de filtro */
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 300px;
}

.search-input {
    width: 100%;
    padding: 10px 15px 10px 40px; 
    border: 1px solid #ccc;
    border-radius: 20px;
    font-family: Nunito, sans-serif;
    font-size: 1rem;
    outline: none;
}

.search-svg-icon {
    position: absolute;
    left: 10px;
    width: 24px;
    height: 24px;
    opacity: 0.5;
    pointer-events: none;
}

.filter-button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.filter-svg-icon {
    width: 18px;
    height: 18px;
}