body {
  margin: 0;
  font-family: Nunito, sans-serif;
  background-color: #fcfcff; 
  color: #333;
}

.home-dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER PERMANECE */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
}

.logo {
  width: 150px;
  height: 70px;
  object-fit: contain;
}

.navbar {
  display: flex;
  gap: 2rem;
  margin-left: -10%; 
}

.nav-link {
  text-decoration: none;
  color: #555;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 4px;
  margin-left: 10%;
}

.nav-link.active {
  color: #63E9E2; 
  border-bottom: 3px solid #63E9E2;
}

.home-user-controls {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.icon {
  height: 41px;
  width: 48px;
  cursor: pointer;
  object-fit: contain;
}

.profile-icon {
  border-radius: 50%;
  background-color: #333; 
  height: 59px;
  width: 59px;
}

/* MAIN */
.home-main-content {
  display: flex;
  flex: 1;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  gap: 170px;
  margin-top: 35px;
}

.home-content-left {
  flex: 1;
  margin-left: 50px;
}

.home-content-right {
  flex: 0.7;
  margin-left: 50px;
}

.home-content-left h1 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #111;
}

.home-welcome-message {
  color: #777;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.home-content-left h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #222;
}

/* ACTIVITY CARDS */
.home-activity-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 50px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  height: 30%;
  width: 110%;
}

.home-activity-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.home-activity-image {
  height: 90px;
  margin-right: 1.5rem;
}

.home-activity-info h3 {
  margin: 0 0 0.25rem 0;
  font-size: 1.25rem;
  color: #333;
}

.home-activity-info p {
  margin: 0;
  color: #666;
  font-size: 0.95rem;
}

.home-arrow {
  margin-left: auto;
  height: 57px;
  width: 57px;
}

/* BUTTON */
.home-action-buttons {
  display: flex;
  gap: 3rem;
  margin-bottom: 2.5rem;
}

.home-btn-primary-session {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 30px;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.2s;
  background-color: #D8F5F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  width: 250px;
  margin-top: 20px;
  margin-left: 170px;
}

.home-btn-primary-session:hover {
  background-color: #66c0d4;
}


.home-content-right h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #222;
}

.home-student-list-card {
  background-color: #fff;
  border-radius: 50px;
  padding: 1.5rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 80%;
  height: 65%;
}

.home-student-list-header {
  display: flex;
  justify-content: space-between;
  color: #999;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
  padding-bottom: 15px;
  border-bottom: 0.1px solid #AEE2E0;
}

.home-student-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 12px;
  margin-bottom: 0.5rem;
}

.home-student-row:hover {
  background-color: #f7f9fa;
}

.home-student-name-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.5rem;

}

.home-student-avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  
}

.home-student-activity-tag {
  background-color: #FFF6D8;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 60px;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Nunito;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}
