
body {
  margin: 0;
  font-family: Nunito, sans-serif;
  background-color: #fcfcff; 
  color: #333;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
}

.logo {
  width: 150px;
  height: 70px;
 object-fit: contain;
}

.navbar {
  display: flex;
  gap: 2rem;
  margin-left: -10%; 
}

.nav-link {
  text-decoration: none;
  color: #555;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 4px;
  margin-left: 10%;

}

.nav-link.active {
  color: #63E9E2; 
  border-bottom: 3px solid #63E9E2;
}

.user-controls {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.icon {
  height: 41px;
  width: 48px;
  cursor: pointer;
  object-fit: contain;
}

.profile-icon {
  border-radius: 50%;
  background-color: #333; 
  height: 59px;
  width: 59px;
}


.main-content {
  display: flex;
  flex: 1;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  gap: 170px;
  margin-top: 35px;

}

.content-left {
  flex: 1 ; 
 
  margin-left: 50px;
}

.content-right {
  flex: 0.7; 
  margin-left: 50px;
}


.content-left h1 {
  font-size: 2.25rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #111;
}

.welcome-message {
  color: #777;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.content-left h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #222;
}

.activity-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 50px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  height: 22%;
}

.activity-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.activity-image {
  height: 90px;
  margin-right: 1.5rem;
}

.activity-info h3 {
  margin: 0 0 0.25rem 0;
  font-size: 1.25rem;
  color: #333;
}

.activity-info p {
  margin: 0;
  color: #666;
  font-size: 0.95rem;
}

.arrow {
  margin-left: auto;
  font-size: 1.75rem;
  color: #bbb;
  font-weight: 300;
}



.action-buttons {
  display: flex;
  gap: 3rem;
  margin-bottom: 2.5rem;
}

.btn-primary-session {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 30px;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.2s;
  background-color: #D8F5F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  width: 200px;
  margin-top: 20px;
  margin-left: 120px;
}

.btn-primary-session:hover {
  background-color: #66c0d4;
}



.content-right h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #222;
}

.student-list-card {
  background-color: #fff;
  border-radius: 50px;
  padding: 1.5rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 70%;
  height: 60%;
}

.student-list-header {
  display: flex;
  justify-content: space-between;
  color: #999;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
  padding-bottom: 15px;
  border-bottom: 0.1px solid #AEE2E0;
}

.student-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 12px;
  margin-bottom: 0.5rem;
}

.student-row:hover {
  background-color: #f7f9fa;
}

.student-name-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
}

.student-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.student-activity-tag {
  background-color: #FFF6D8;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 60px;
  font-size: 0.85rem;
  font-weight: 600;
  font-family: Nunito;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}


.arrow{
  height: 57px;
  width: 57px;
}