.forgot-page-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF; 
}

.form-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.forgot-form-container {
    background-color: #AEE2E0; 
    padding: 30px; 
    border-radius: 20px;
    width: 100%;
    height: 600px;
    max-width: 350px; 
    display: flex;
    text-align: center; 
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.forgot-title {
    font-family: 'Nunito', sans-serif;
    font-size: 24px; 
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center; 
    color: #333;
}

.forgot-info {
    font-size: 16px;
    margin-bottom: 30px; 
    line-height: 1.4;
    color: #555;
    padding: 0 20px; 
}

.lock-icon-wrapper {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lock-icon{
    width: 80px;
    height: 80px;
    border: 2px solid #333;; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    width: 40px;
    height: 40px;
}

.separator-line {
    width: 310px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin: 50px 0px 15px 24px;
}

.create-account-link {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
}

.forgot-form-container.smaller-container {
    height: 310px; 
    padding-top: 50px; 
}

.forgot-form-container.smaller-container .forgot-title {
    text-align: center;
    margin-bottom: 20px;
}

/*button*/


.custom-button-forgot {
  width: 300px;
  padding: 0px 30px;
  border-radius: 200px;
  border: none;
  height: 55px;
  
 
  display: flex;
  align-items: center;     
  justify-content: center;

  background-color: #FFFBD8;  
  font-family: 'Nunito', sans-serif; 
  font-size: 25px;  
  font-weight: 500;          
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 


  color: #000;
  cursor: pointer;
  transition: all 0.2s ease; 
}

.custom-button-forgot:hover {

  background-color: #f0eccc; 
  transform: translateY(-2px); 
}

.custom-button-forgot:active {
  
  transform: translateY(1px);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}