.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
}

.logo {
  width: 150px;
  height: 70px;
  object-fit: contain;
}

.navbar {
  display: flex;
  gap: 2rem;
  margin-left: -10%;
}

.nav-link {
  text-decoration: none;
  color: #555;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 4px;
  margin-left: 10%;
}

.nav-link.active {
  color: #63E9E2;
  border-bottom: 3px solid #63E9E2;
}

.home-user-controls,
.user-controls {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.icon {
  height: 41px;
  width: 48px;
  cursor: pointer;
  object-fit: contain;
}

.profile-icon {
  border-radius: 50%;
  background-color: #333;
  height: 59px;
  width: 59px;
}
